<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/main.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_head">
            <div class="circle_photo">
              <img
                src="box_images/Profile.jpg"
                alt=""
                width="156px"
                height="136px"
              />
            </div>
            <p class="name"><%=user.name%></p>
            <p class="profession"><%=user.profession%></p>

            <div class="social_media">
              <div class="icon">
                <a href="">
                  <div><img src="icon/Facebook.svg" alt="hgihcuh" /></div
                ></a>
              </div>
              <div class="icon">
                <a href="">
                  <div><img src="icon/instagram.svg" alt="hgihcuh" /></div
                ></a>
              </div>
              <div class="icon">
                <a href="">
                  <div><img src="icon/Twitter.svg" alt="hgihcuh" /></div
                ></a>
              </div>
              <div class="icon">
                <a href="">
                  <div><img src="icon/Linkeding.svg" alt="hgihcuh" /></div
                ></a>
              </div>
              <div class="icon">
                <a href="">
                  <div><img src="icon/Youtube.svg" alt="hgihcuh" /></div
                ></a>
              </div>
              <div class="icon">
                <a href="">
                  <div><img src="icon/Dribble.svg" alt="hgihcuh" /></div
                ></a>
              </div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_personal_information">
            <div class="personal_info">
              <p class="left_info">Age:</p>
              <p class="right_info"><%=user.age%></p>
            </div>
            <div class="personal_info">
              <p class="left_info">Residence:</p>
              <p class="right_info"><%=user.residence%></p>
            </div>
            <div class="personal_info">
              <p class="left_info">Freelance:</p>
              <p class="right_info"><span style="color: green;">Avialable</span></p>
            </div>
            <div class="personal_info">
              <p class="left_info">Adress:</p>
              <p class="right_info"><%=user.adress%></p>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_languages">
            <div class="language_head">Languages</div>
            <div class="language">
              <p class="left_info">Uzbek</p>
              <p class="right_info">100%</p>
            </div>
            <div class="language_marginer">
              <div class="language_marginer_1"></div>
            </div>
            <div class="language">
              <p class="left_info">English</p>
              <p class="right_info">80%</p>
            </div>
            <div class="language_marginer">
              <div class="language_marginer_2"></div>
            </div>
            <div class="language">
              <p class="left_info">Korean</p>
              <p class="right_info">60%</p>
            </div>
            <div class="language_marginer">
              <div class="language_marginer_3"></div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_skills">
            <div class="skills_head">Skills</div>
            <div class="language">
              <p class="left_info">Html</p>
              <p class="right_info">100%</p>
            </div>
            <div class="language_marginer">
              <div class="language_marginer_1"></div>
            </div>
            <div class="language">
              <p class="left_info">Css</p>
              <p class="right_info">100%</p>
            </div>
            <div class="language_marginer">
              <div class="language_marginer_1"></div>
            </div>
            <div class="language">
              <p class="left_info">Js</p>
              <p class="right_info">80%</p>
            </div>
            <div class="language_marginer">
              <div class="language_marginer_2"></div>
            </div>
            <div class="language">
              <p class="left_info">PHP</p>
              <p class="right_info">60%</p>
            </div>
            <div class="language_marginer">
              <div class="language_marginer_3"></div>
            </div>
          </div>
          <div class="marginer"></div>
          <div class="left_extra_skills">
            <div class="language_head">Extra Skills</div>
            <div class="ex_skill">
              <img src="icon/extraskill.svg" alt="" />Bootstrap, Materialize
            </div>
            <div class="ex_skill">
              <img src="icon/extraskill.svg" alt="" />Stylus, Sass, Less
            </div>
            <div class="ex_skill">
              <img src="icon/extraskill.svg" alt="" />Gulp, Webpack, Grunt
            </div>
            <div class="ex_skill">
              <img src="icon/extraskill.svg" alt="" />GIT Knowledge
            </div>
          </div>
          <div class="marginer"></div>
        </div>
        <div class="midd_frame">
          <div class="midd_header">
            <div class="vector_1">
              <img src="icon/Ellipse_1.svg" alt="" />
            </div>
            <div class="vector_2">
              <img src="icon/Ellipse1.svg" alt="" />
            </div>
            <div class="vector_3">
              <img src="icon/rectangle3.svg" alt="" />
            </div>
            <div class="vector_4">
              <img src="icon/Ellipse1.svg" alt="" />
            </div>
            <div class="vector_5">
              <img src="icon/rectangle4.svg" alt="" />
            </div>
            <div class="vector_6">
              <img src="icon/Ellipse_1.svg" alt="" />
            </div>
            <div class="vector_7">
              <img src="icon/Polygon6.svg" alt="" />
            </div>
            <div class="midd_left">
              <h1>Doctor neurologists in OHSU Hospital</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
                volutpat feugiat placerat lobortis. Natoque rutrum semper sed
                suspendisse nunc lectus.
              </p>
              <button class="btn_menu">
                HIRE ME
                <img class="menu_arrow" src="icon/right_arrow.svg" alt="" />
              </button>
            </div>
            <div class="midd_right">
              <img
                src="images/y_image.jpg"
                alt=""
                width="326px"
                height="426px"
              />
            </div>
          </div>
          <div class="midd_service">
            <div class="service_header">
              <h1>My Services</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et,
                volutpat feugiat placerat lobortis. Natoque rutrum semper sed
                suspendisse nunc lectus.
              </p>
            </div>
            <div class="service_boxs">
              <div class="box-1">
                <img src="icon/coding.svg" alt="" />
                <h4>Web Development</h4>
                <p>blog, e-commerce</p>
              </div>
              <div class="box-1">
                <img src="icon/coding.svg" alt="" />
                <h4>Web Development</h4>
                <p>blog, e-commerce</p>
              </div>
              <div class="box-1">
                <img src="icon/coding.svg" alt="" />
                <h4>Web Development</h4>
                <p>blog, e-commerce</p>
              </div>
              <div class="box-1">
                <img src="icon/coding.svg" alt="" />
                <h4>Web Development</h4>
                <p>blog, e-commerce</p>
              </div>
              <div class="box-1">
                <img src="icon/coding.svg" alt="" />
                <h4>Web Development</h4>
                <p>blog, e-commerce</p>
              </div>
              <div class="box-1">
                <img src="icon/coding.svg" alt="" />
                <h4>Web Development</h4>
                <p>blog, e-commerce</p>
              </div>
            </div>
          </div>
        </div>
        <div class="right_frame">
          <div class="contrast_icon">
            <img src="menu_icon/Contrast.svg" alt="" />
          </div>
          <div class="menu_icons">
            <div class="menu_icon">
              <img src="menu_icon/Home.svg" alt="" />
            </div>
            <div class="menu_icon">
              <img src="menu_icon/Service.svg" alt="" />
            </div>
            <div class="menu_icon">
              <img src="menu_icon/Cv.svg" alt="" />
            </div>
            <div class="menu_icon">
              <img src="menu_icon/Portfolio.svg" alt="" />
            </div>
            <div class="menu_icon">
              <img src="menu_icon/Blog.svg" alt="" />
            </div>
            <div class="menu_icon">
              <img src="menu_icon/contact.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
